/* some style */

@font-face {
    font-family: 'Go-Mono';
    src: url('fonts/Go-Mono.ttf')  format('truetype');
}

@font-face {
    font-family: 'Go-Mono';
    src: url('fonts/Go-Mono-Bold.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Go-Mono';
    src: url('fonts/Go-Mono-Italic.ttf')  format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Go-Mono';
    src: url('fonts/Go-Mono-Bold-Italic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}

#container-jexcel-editor {
    font-family: 'Go-Mono', 'Microsoft YaHei';
    font-size: 13.3333px;
    background-color: #F00;
}

#container-jexcel-editor input {
    font-family: 'Go-Mono', 'Microsoft YaHei' !important;
}

#container-ace-editor {
    height: 100%;
}

#container-ace-editor-ro {
    height: 100%;
}
